.places {
    text-align: center;
}

.places h1 {
    text-align:left;
    font-size: 30px;
}

article {
    width: 390px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

articles h2 {
    font-size: 30px;
    text-align: center;
}